@import './../../../variables.scss';
.PasswordContainer {
  position: relative;
  .EyeIcon {
    position: absolute;

    background-color: $secondaryBackground;

    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);

    cursor: pointer;
  }
}
