@import './variables';

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;

  background-color: $mainBackground;
  color: $mainText;

  border: 0;
}
a {
  text-decoration: none;
}
